<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Setup" data-toc-modified-id="Setup-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Setup</a></span><ul class="toc-item"><li><span><a href="#Library-import" data-toc-modified-id="Library-import-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Library import</a></span></li></ul></li><li><span><a href="#Pycaret-setup-no-tune" data-toc-modified-id="Pycaret-setup-no-tune-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Pycaret setup no tune</a></span></li></ul></div>

# Setup

## Library import
We import all the required Python libraries

In [1]:
%load_ext autoreload
%autoreload 2

# Data manipulation
import pandas as pd
import numpy as np

import gc
gc.enable()

# Options for pandas
# pd.options.display.max_columns = 50
# pd.options.display.max_rows = 30

In [2]:
df = pd.read_csv('train_values.csv')
df.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df.shape

(260601, 39)

In [4]:
labels = pd.read_csv('train_labels.csv')
df = df.merge(labels, on='building_id')
print(df.shape)
df.head()

(260601, 40)

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,3
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,2
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,3
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,2
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,3

# Pycaret setup no tune
- "Following data types have been inferred automatically, if they are correct press enter to continue or type 'quit' otherwise." Instead let the customer to choose different type
- `add_metric` function allows customization
- option to stop the job manually
- add prediction time estimate
- add finish time

In [5]:
from pycaret.classification import *

In [7]:
exp_clf101 = setup(data = df, target = 'damage_grade', session_id=123, fold=5)

INFO:logs:create_model_container: 0
INFO:logs:master_model_container: 0
INFO:logs:display_container: 1
INFO:logs:Pipeline(memory=None,
         steps=[('dtypes',
                 DataTypes_Auto_infer(categorical_features=[],
                                      display_types=True, features_todrop=[],
                                      id_columns=[],
                                      ml_usecase='classification',
                                      numerical_features=[],
                                      target='damage_grade',
                                      time_features=[])),
                ('imputer',
                 Simple_Imputer(categorical_strategy='not_available',
                                fill_value_categorical=None,
                                fill_value_numerical=None,
                                numeric...
                ('scaling', 'passthrough'), ('P_transform', 'passthrough'),
                ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                ('cluster_all', 'passthrough'),
                ('dummy', Dummify(target='damage_grade')),
                ('fix_perfect', Remove_100(target='damage_grade')),
                ('clean_names', Clean_Colum_Names()),
                ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                ('dfs', 'passthrough'), ('pca', 'passthrough')],
         verbose=False)
INFO:logs:setup() succesfully completed......................................

In [8]:
best_model = compare_models(sort='F1', 
                            include=['xgboost', 'catboost', 'lightgbm', 'rf', 'et'])

INFO:logs:create_model_container: 5
INFO:logs:master_model_container: 5
INFO:logs:display_container: 2
INFO:logs:XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=-1, num_parallel_tree=1,
              objective='multi:softprob', random_state=123, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='auto', use_label_encoder=True, validate_parameters=1,
              verbosity=0)
INFO:logs:compare_models() succesfully completed......................................

In [9]:
tuned_xgb = tune_model(best_model, optimize='F1')

INFO:logs:create_model_container: 6
INFO:logs:master_model_container: 6
INFO:logs:display_container: 3
INFO:logs:XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.323, max_delta_step=0, max_depth=11,
              min_child_weight=4, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=-1, num_parallel_tree=1,
              objective='multi:softprob', random_state=123, reg_alpha=0.4,
              reg_lambda=0.3, scale_pos_weight=1.9, subsample=0.7,
              tree_method='auto', use_label_encoder=True, validate_parameters=1,
              verbosity=0)
INFO:logs:tune_model() succesfully completed......................................

In [10]:
final_xgb = finalize_model(tuned_xgb)

INFO:logs:Initializing finalize_model()
INFO:logs:finalize_model(estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.323, max_delta_step=0, max_depth=11,
              min_child_weight=4, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=-1, num_parallel_tree=1,
              objective='multi:softprob', random_state=123, reg_alpha=0.4,
              reg_lambda=0.3, scale_pos_weight=1.9, subsample=0.7,
              tree_method='auto', use_label_encoder=True, validate_parameters=1,
              verbosity=0), fit_kwargs=None, groups=None, model_only=True, display=None)
INFO:logs:Finalizing XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.323, max_delta_step=0, max_depth=11,
              min_child_weight=4, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=-1, num_parallel_tree=1,
              objective='multi:softprob', random_state=123, reg_alpha=0.4,
              reg_lambda=0.3, scale_pos_weight=1.9, subsample=0.7,
              tree_method='auto', use_label_encoder=True, validate_parameters=1,
              verbosity=0)
INFO:logs:Initializing create_model()
INFO:logs:create_model(estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.323, max_delta_step=0, max_depth=11,
              min_child_weight=4, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=-1, num_parallel_tree=1,
              objective='multi:softprob', random_state=123, reg_alpha=0.4,
              reg_lambda=0.3, scale_pos_weight=1.9, subsample=0.7,
              tree_method='auto', use_label_encoder=True, validate_parameters=1,
              verbosity=0), fold=None, round=4, cross_validation=True, predict=True, fit_kwargs={}, groups=None, refit=True, verbose=False, system=False, metrics=None, display=None, kwargs={})
INFO:logs:Checking exceptions
INFO:logs:Importing libraries
INFO:logs:Copying training dataset
INFO:logs:Defining folds
INFO:logs:Declaring metric variables
INFO:logs:Importing untrained model
INFO:logs:Declaring custom model
INFO:logs:Extreme Gradient Boosting Imported succesfully
INFO:logs:Starting cross validation
INFO:logs:Cross validating with StratifiedKFold(n_splits=5, random_state=123, shuffle=False), n_jobs=-1
INFO:logs:Calculating mean and std
INFO:logs:Creating metrics dataframe
INFO:logs:Finalizing model
INFO:logs:Uploading results into container
INFO:logs:Uploading model into container now
INFO:logs:create_model_container: 7
INFO:logs:master_model_container: 7
INFO:logs:display_container: 4
INFO:logs:XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.323, max_delta_step=0, max_depth=11,
              min_child_weight=4, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=-1, num_parallel_tree=1,
              objective='multi:softprob', random_state=123, reg_alpha=0.4,
              reg_lambda=0.3, scale_pos_weight=1.9, subsample=0.7,
              tree_method='auto', use_label_encoder=True, validate_parameters=1,
              verbosity=0)
INFO:logs:create_model() succesfully completed......................................
INFO:logs:create_model_container: 7
INFO:logs:master_model_container: 7
INFO:logs:display_container: 3
INFO:logs:XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.323, max_delta_step=0, max_depth=11,
              min_child_weight=4, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=-1, num_parallel_tree=1,
              objective='multi:softprob', random_state=123, reg_alpha=0.4,
              reg_lambda=0.3, scale_pos_weight=1.9, subsample=0.7,
              tree_method='auto', use_label_encoder=True, validate_parameters=1,
              verbosity=0)
INFO:logs:finalize_model() succesfully completed......................................

In [11]:
test_df = pd.read_csv('test_values.csv')
test_preds = predict_model(final_xgb, data=test_df)

INFO:logs:Initializing predict_model()
INFO:logs:predict_model(estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.323, max_delta_step=0, max_depth=11,
              min_child_weight=4, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=-1, num_parallel_tree=1,
              objective='multi:softprob', random_state=123, reg_alpha=0.4,
              reg_lambda=0.3, scale_pos_weight=1.9, subsample=0.7,
              tree_method='auto', use_label_encoder=True, validate_parameters=1,
              verbosity=0), probability_threshold=None, encoded_labels=False, round=4, verbose=True, ml_usecase=MLUsecase.CLASSIFICATION, display=None)
INFO:logs:Checking exceptions
INFO:logs:Preloading libraries
INFO:logs:Preparing display monitor

In [12]:
test_preds

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,Label,Score
0,300051,17,596,11307,3,20,7,6,t,r,...,0,0,0,0,0,0,0,0,3,0.7600
1,99355,6,141,11987,2,25,13,5,t,r,...,0,0,0,0,0,0,0,0,2,0.8881
2,890251,22,19,10044,2,5,4,5,t,r,...,0,0,0,0,0,0,0,0,2,0.8464
3,745817,26,39,633,1,0,19,3,t,r,...,1,0,0,0,0,0,0,0,1,0.6663
4,421793,17,289,7970,3,15,8,7,t,r,...,0,0,0,0,0,0,0,0,3,0.8193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86863,310028,4,605,3623,3,70,20,6,t,r,...,0,0,0,0,0,0,0,0,2,0.7412
86864,663567,10,1407,11907,3,25,6,7,n,r,...,0,0,0,0,0,0,0,0,2,0.7279
86865,1049160,22,1136,7712,1,50,3,3,t,r,...,0,0,0,0,0,0,0,0,3,0.6425
86866,442785,6,1041,912,2,5,9,5,t,r,...,0,0,0,0,0,0,0,0,2,0.7080
86867,501372,26,36,6436,2,10,11,4,t,r,...,0,0,0,0,0,0,0,0,1,0.5730

In [13]:
test_preds = test_preds[['building_id', 'Label']]
test_preds = test_preds.rename(columns={'Label':'damage_grade'})
test_preds.to_csv('submission_pycaret_notune.csv', index=False)
test_preds.head()

   building_id  damage_grade
0       300051             3
1        99355             2
2       890251             2
3       745817             1
4       421793             3

# Pycaret setup with tune

In [ ]:
cat_features = [
    'land_surface_condition',
    'foundation_type',
    'roof_type',
    'ground_floor_type',
    'other_floor_type',
    'position',
    'plan_configuration',
    'legal_ownership_status',
    'geo_level_2_id',
    'geo_level_1_id',
    'geo_level_3_id'
]

exp_clf102 = setup(data = df, target = 'damage_grade', session_id=123,
                   fold=5,
                   profile=True,
                   ignore_features=['building_id'],
                   categorical_features=cat_features,
                   normalize = True, 
                   transformation = True, 
                   ignore_low_variance = True,
                   feature_selection=True,
                   feature_selection_method='boruta',
                   log_experiment = True, experiment_name = 'pycaret-tuned-nepal')

IntProgress(value=0, description='Processing: ', max=3)

Initiated  . . . . . . . . . . . . . . . . . .            13:56:49
Status     . . . . . . . . . . . . . . . . . .  Preprocessing Data

Text(value="Following data types have been inferred automatically, if they are correct press enter to continue…

                                          Data Type
geo_level_1_id                          Categorical
geo_level_2_id                          Categorical
geo_level_3_id                          Categorical
count_floors_pre_eq                     Categorical
age                                         Numeric
area_percentage                             Numeric
height_percentage                           Numeric
land_surface_condition                  Categorical
foundation_type                         Categorical
roof_type                               Categorical
ground_floor_type                       Categorical
other_floor_type                        Categorical
position                                Categorical
plan_configuration                      Categorical
has_superstructure_adobe_mud            Categorical
has_superstructure_mud_mortar_stone     Categorical
has_superstructure_stone_flag           Categorical
has_superstructure_cement_mortar_stone  Categorical
has_superstructure_mud_mortar_brick     Categorical
has_superstructure_cement_mortar_brick  Categorical
has_superstructure_timber               Categorical
has_superstructure_bamboo               Categorical
has_superstructure_rc_non_engineered    Categorical
has_superstructure_rc_engineered        Categorical
has_superstructure_other                Categorical
legal_ownership_status                  Categorical
count_families                          Categorical
has_secondary_use                       Categorical
has_secondary_use_agriculture           Categorical
has_secondary_use_hotel                 Categorical
has_secondary_use_rental                Categorical
has_secondary_use_institution           Categorical
has_secondary_use_school                Categorical
has_secondary_use_industry              Categorical
has_secondary_use_health_post           Categorical
has_secondary_use_gov_office            Categorical
has_secondary_use_use_police            Categorical
has_secondary_use_other                 Categorical
damage_grade                                  Label

[LightGBM] [Warning] bagging_fraction is set=0.99, subsample=427 will be ignored. Current value: bagging_fraction=0.99
[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).

In [ ]:
top3 = compare_models(n_select = 3, sort='F1', 
                      include=['xgboost', 'catboost', 'lightgbm', 'rf', 'et']
                     )